@import "tailwindcss";






@theme{
    --font-primary: "Sora", serif;
    --font-md-bold : 'md-bold';
    --font-md-black : 'md-black';
    --font-md-bol-c : 'md-bol-c';
    --font-md-black-c : 'md-black-c';

}

@font-face {
    font-family: 'md-bold';
    src: url('./assets/fonts/Blod.otf');
}
@font-face {
    font-family: 'md-black';
    src: url('./assets/fonts/black.otf');
}

@font-face {
    font-family: 'md-bol-c';
    src: url('./assets/fonts/cond-bold.otf');
}
@font-face {
    font-family: 'md-black-c';
    src: url('./assets/fonts/mediasans-bold-TRIAL-BF63c7546b153ef.otf');
}


@layer components {
  .card{
    @apply absolute top-0 left-0 h-full w-full;
  }
}

.idea-section{
  background-color: #000;
}
.idea-section .section_heading{
  color: #fff !important;
}
.skills-card{
    background-color: #fff;
    border: 1px solid #cecece;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* position: relative; */
    padding: 30px;
}
.skills-card p{
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'md-black-c';
  
}
.stack-row{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.skills-card-1{
  background-color: #fff;
  border: 1px solid #cecece;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  height: 150px;
  width: 180px;
  position: relative;
}
.skills-card-1 p{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'md-black-c';
  display: none;
}
.skills-card h3{
  font-size: 30px;
  font-weight: 500;
  font-family: 'md-black-c';
  margin-bottom: 12px;
}
.skills-card h6{
  font-size: 20px;
  font-weight: 500;
  font-family: "Wix Madefor Display", sans-serif;
  
}
.tech-row h3{
  font-size: 80px;
  font-weight: 500;
   font-family: "Wix Madefor Display", sans-serif;
  color: #000;
  border-bottom: 2px solid #000;;
  text-transform: uppercase;
}
.primary-btn{
    font-size: 1.11rem !important;
    background-color: #000;
    border: .14em solid #000;
    padding: .5rem 1rem !important;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}



.primary-btn-outline{
    font-size: 1.11rem !important;
    background-color: #ffffff;
    border: .14em solid #000;
    padding: .5rem 1rem !important;
    color: #000;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}









/* Navbar style  */

.container-padding{
    padding-left: 5.56rem ;
    padding-right: 5.56rem ;
}

.nav h1{
    font-size: var(--text-36);
    font-family: md-bol-c;
    letter-spacing: 1px;
    
}
.nav ul li{
     font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 1.16rem;
   padding-left: 32px;
   padding-right: 32px;
   cursor: pointer;
}

.nav-btn{
    font-size: 1.11rem !important;
    background-color: #000;
    border: .14em solid #000;
    padding: .5rem 1rem !important;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}

.nav-btn:hover, .primary-btn:hover{
    background-color: #000;
    color: #fff;
    padding-left: 32px !important;
    padding-right: 32px !important;
    box-shadow: 0 32px 32px #1b1b1b1a, 0 16px 16px #1b1b1b1a, 0 8px 8px #1b1b1b1a, 0 4px 4px #1b1b1b1a, 0 2px 2px #1b1b1b1a;
}

.primary-btn-outline:hover{
    padding-left: 32px !important;
    padding-right: 32px !important;
    box-shadow: 0 32px 32px #1b1b1b1a, 0 16px 16px #1b1b1b1a, 0 8px 8px #1b1b1b1a, 0 4px 4px #1b1b1b1a, 0 2px 2px #1b1b1b1a;
}
/* hero-style  */



.hero-banner-container{

    flex-basis: 60% ;
    position: absolute;
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 20px;

 }
  .image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 .image-container .hero-image{
    max-width: 100%;
    height: 500px;
    width: 500px;
    object-fit: contain;
    z-index: 1;
   
}
 
 .hero-banner-container p{
     text-align: center;
     font-size: var(--text-22);
      font-family: "Wix Madefor Display", sans-serif;
     font-weight: 300;
     color: #333;
 }
 .hero-banner-container h2{
     text-align: center;
     font-size: clamp(4.375rem, 2.7303rem + 8.7719vw, 10.625rem);
     font-family: md-bol-c;
     color: #000;
     letter-spacing: 6px;
     line-height: 180px;
     text-shadow: 
     2px 2px 0 #fff,  /* White shadow on the right and bottom */
     -2px -2px 0 #fff, /* White shadow on the left and top */
     2px -2px 0 #fff,  /* White shadow on the top-right */
     -2px 2px 0 #fff; 
     mix-blend-mode: color-dodge;
     position: relative;
     z-index: 3;
     
 }
 
 .hero-banner-container h3 {
     text-align: center;
     font-size: clamp(5rem, 3.3553rem + 8.7719vw, 11.25rem);
     font-family: md-bol-c;  /* Ensure this is properly loaded */
     color: #fff;  /* Inner text color (black) */
     text-shadow: 
         2px 2px 0 #8c8c8c,  /* White shadow on the right and bottom */
         -2px -2px 0 #8c8c8c, /* White shadow on the left and top */
         2px -2px 0 #8c8c8c,  /* White shadow on the top-right */
         -2px 2px 0 #8c8c8c;  /* White shadow on the bottom-left */
         letter-spacing: 6px;
         line-height: 190px;
        mix-blend-mode: color-dodge;
         position: relative;
         /* z-index: 3; */
         
 }
 /* .hero-banner-container h3:hover{
   
    color: #000;
    text-shadow: 
    4px 4px 0 #fff,  
    -4px -4px 0 #fff, 
    4px -4px 0 #fff,  
    -4px 4px 0 #fff; 
    z-index: 3;
 } */
 .location{
     display: inline-block;
     /* position: absolute;
     bottom: -34px;
     left: 0; */
     font-size: var(--text-22);
      font-family: "Wix Madefor Display", sans-serif;
     font-weight: 400;
     color: #000;
 }

 .loader h1{
    font-size: var(--text-60);
     font-family: md-bol-c;
     letter-spacing: 4px;
 }
 .section-gap{
    margin-top: 100px;
 }


 /* desc  */
.text-big span{
  font-size: 38px !important;
  font-weight: 300 !important;
  color: #000 !important;
  line-height: 1.2em;
 
  
  /* text-transform: uppercase; */
}
.info h6{
  font-size: 18px;
   font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  color: #232323;
}
.info h5{
  font-size: 18px;
   font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  color: #232323;
  margin-top: 4px;

}
.info h5 a{
    position: relative;
    display: block;
    padding-bottom: 4px;
    transition: 0.20s all ease;
    
}
.info h5 a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px ;
  width: 100%;
  background-color: #cccccc;

}
.info h5:hover a::after{
  background-color: #000;
 
}
 .description-content p{
    font-size: 20px;
     font-family: "Wix Madefor Display", sans-serif;
    font-weight: 500;
    color: #232323;
 }
 .description-content p:nth-of-type(1){
    gap: 6px;
 }
 .description-content p:nth-of-type(1) .mask {
    position: relative;
    overflow: hidden;
    display: inline-flex;
  }


  /* scroller  */

  .scroller {
    padding: 20px 0px;
    background-color: #000;

  }

  .scroller h1{
    font-size: 90px;
    font-family: md-bol-c;
    color: #fff;
    letter-spacing: 6px;
    text-transform: uppercase;

  }
  body.no-scroll {
    overflow: hidden;
  }
  .shadow-text{
    color: #000 !important;  /* Inner text color (black) */
    text-shadow: 
        2px 2px 0 #fff,  /* White shadow on the right and bottom */
        -2px -2px 0 #fff, /* White shadow on the left and top */
        2px -2px 0 #fff,  /* White shadow on the top-right */
        -2px 2px 0 #fff;  /* White shadow on the bottom-left */
        letter-spacing: 6px;
  }

  .project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    border-top: 1px solid #e2e2e2 !important;
  }
  .project:nth-child(1){
    border-top: none;
  }

  .project h2{
    font-size: var(--text-50);
    font-family: md-bol-c;
    margin: 0;
    color: #222;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .project p{
    font-size: var(--text-20);
     font-family: "Wix Madefor Display", sans-serif;
    margin: 0;
    color: #222;
  }

  .popContainer{
    height: 350px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;
}
.popSlider{
  height: 100%;
  width: 100%;
  position: relative;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.pop{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop img{
  height: 100%;
  object-fit: cover;
}

.cursor, .cursorLabel{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  position: fixed;
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
   font-family: "Wix Madefor Display", sans-serif;
}

.cursorLabel{
  background-color: transparent;
}

.section_heading{
    font-family: md-black-c;
    font-size: var(--text-50);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.section_sub_heading{
    font-family: md-black-c;
    font-size: var(--text-50);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-section h1{
  font-family: md-black-c;
  font-size: 90px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px solid #757575;

}

.connections p{
  padding: 12px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 100px;
  transition:         0.08s ease-in;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.connections p:before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  -webkit-transition: top 0.09s ease-in;
}

.connections p:hover:before {
  top: 0;
}
.connections p:hover a{
  color: #000000;
  font-weight: 500 !important;
}
.connections p a{
   font-family: "Wix Madefor Display", sans-serif;
  color: #fff;
  font-size: var(--text-24);
  font-weight: 300;
  position: relative;
  
}
.mobile-version{
  display: none;
}
.mobile-version h2{
  font-size: 28px;
  margin-top: 16px;
  border-bottom: 1px solid #adadad;
  font-family: 'md-bol-c';
  letter-spacing: 1px;;
 }

 .mobile-version p{
  font-size: 18px;
  margin-top: 6px;
   font-family: "Wix Madefor Display", sans-serif;

 }

 .page_header{
    /* margin-top: 200px; */
 }

 .page_header h2{
  font-size: calc(clamp(3.25em, 7vw, 8em)* .875);
  font-family: md-black-c;
  position: relative;
  padding-bottom:  60px;
  padding-top: 180px;
  margin-bottom: 0;
 }
 .page_header h2::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #222;
  left: 0;
  bottom: 0;
 }

 .works-container{
  padding-top: 200px;
 }
.works-container h3{
  font-size: 100px;
  font-family: 'md-bold';
  padding-top: 100px;
  
}

.work-item{
  position: relative;
  padding-bottom: 300px;
  /* height: 90vh; */
 
}
.works-container img{
  object-fit: cover;
  object-position: top;
  height: 300px;
  width: 70%;
}
.even{
  text-align: end;
}
.image-bg {
  height: 600px;  /* Height of the container */
  width: 500px;
  background-image: url('https://images.pexels.com/photos/2096147/pexels-photo-2096147.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right{
  right: 10px;
  top: -40px;
}
.left {
  left: 10px;
  top: -40px;
}

/* about */

.about-me p{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
   font-family: "Wix Madefor Display", sans-serif;
  margin-bottom: 20px;
  color: #222;
}

.about-me p.bio_1{
  color: #505050 !important;
  /* font-weight: 400 !important; */
}
.mobile-hidden{
  display: block;
}
.mobile-show{
  display: none;
}

.exptable table{
  width: 100%;
}
.exptable table td{
  padding: 6px;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 18px;
}
.exptable table tr td:nth-child(odd){
   color: #505050 !important;
     font-weight: 500;
}
   
.exptable table tr td:nth-child(even){
   color: #222 !important;
   font-weight: 500;
}
/* responsove for home  */

@media screen and (max-width: 992px) {

  .mobile-hidden{
    display: none;
  }
  .mobile-show{
    display: block;
  }
  .mobile-version img{

    height: 300px;
    object-position: top center;
    
  }
}
  


@media screen and (min-width:  880px) and  (max-width: 1150px){

  /* .container {
    width: 58rem !important;
  } */

  .container-padding{
    
    padding-left: 1.5rem;
    padding-right: 1.5rem;

  }

  .nav h1{
    font-size: 36px;
  }
.hero-banner-container{
  padding-top: 80px;
  padding-bottom: 50px;
}
  .hero-banner-container h2 {
        font-size: 120px;
        line-height: 130px;
        /* letter-spacing: 2px; */
  }
  .hero-banner-container h3{
    font-size: 120px;
    line-height: 130px;
    /* letter-spacing: 3px; */
  }
  .hero-banner-container p {
    font-size: 24px;
  }
  .location{
    font-size: 24px;
    display: block;
    text-align: center;
  }
  .nav ul li {
    padding-left: 36px;
    padding-right: 36px;
  }
  .scroller h1{
    font-size: 80px;
    /* letter-spacing: 8px; */
  }
  .section-gap {
    margin-top: 60px;
  }
  .footer-section h1{
    font-size: 80px;
    letter-spacing: 6px;
  }
  .connections p a{

    font-size: 22px;
    font-weight: 500;
  
  }

  .loader h1{
    font-size: 40px;
 }

 .add-styles-tab .col-expand-12{
  grid-column: span 12 / span 12 !important;
 }
 .add-styles-tab .col-expand-6{
  grid-column: span 6 / span 6 !important;
 }
 .tex-tab-right{
  text-align: right !important;
 }

}

@media screen and (min-width: 660px) and  (max-width: 880px){

  .container-padding{
    
    padding-left: 2.5rem;
    padding-right: 2.5rem;

  }

  .nav h1{
    font-size: 30px;
  }
.hero-banner-container{
  padding-top: 0px;
  padding-bottom: 100px;
}
  .hero-banner-container h2 {
        font-size: 100px;
        line-height: 110px;
        /* letter-spacing: 2px; */
  }
  .hero-banner-container h3{
    font-size: 90px;
    line-height: 110px;
    /* letter-spacing: 3px; */
  }
  .hero-banner-container p {
    font-size: 20px;
  }
  .location{
    font-size: 20px;
    display: block;
    text-align: center;
  }
  .nav ul li {
    padding-left: 16px;
    padding-right: 16px;

  }

  .scroller h1{
    font-size: 60px;
    /* letter-spacing: 8px; */
  }
  .section-gap {
    margin-top: 60px;
  }
  .footer-section h1{
    font-size: 60px;
    letter-spacing: 6px;
  }
  .connections p a{

    font-size: 19px;
    font-weight: 500;
  
  }

  .loader h1{
    font-size: 40px;
 }

 .add-styles-tab .col-expand-12{
  grid-column: span 12 / span 12 !important;
 }
 .add-styles-tab .col-expand-6{
  grid-column: span 6 / span 6 !important;
 }
 .tex-tab-right{
  text-align: right !important;
 }
 .desktop-version{
  display: none;
}
.mobile-version{
  display: grid;
}
.mobile-version h2 {
  font-size: 40px;
}
.mobile-version p {
  font-size:  24px;}
}


@media screen and (max-width: 540px){

  .description-content p{
    text-align: justify;
  }

  .container-padding{
    
    padding-left: 1.5rem;
    padding-right: 1.5rem;

  }

  .nav h1{
    font-size: 26px;
  }
.hero-banner-container{
  padding-top: 0px;
  padding-bottom: 40px;
}
  .hero-banner-container h2 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 2px;
  }
  .hero-banner-container h3{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
  }
  .hero-banner-container p {
    font-size: 15px;
  }
  .location{
    font-size: 15px;
    display: block;
    text-align: center;
  }
  .scroller h1{
    font-size: 40px;
    letter-spacing: 8px;
  }
  .section-gap {
    margin-top: 60px;
  }
  .footer-section h1{
    font-size: 42px;
    letter-spacing: 4px;
  }
  .connections p a{

    font-size: 19px;
    font-weight: 500;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    max-width: 186px;
  
  }

  .loader h1{
    font-size: 30px;
 }
 .mobile-version{
   display: grid;
 }
 

 .desktop-version{
   display: none;
 }
 .section_heading{
  font-size: 36px;
  margin-bottom: 20px !important;
 }
 .exptable table tr td:nth-child(odd){
  padding-left: 0px;
  padding-right: 12px;
 }
 .mobile-menu-ham{
  display: block !important;
 }
 .hero-banner-container h3{
  text-shadow: 1px 1px 0 #8c8c8c, -1px -1px 0 #8c8c8c, 1px -1px 0 #8c8c8c, -1px 1px 0 #8c8c8c;
 }
.description-content p{
  font-size: 18px;
}
}



